
*.xcuserstate

*.xcbkptlist
*.xcuserstate

MyNewAppointmentProject.xcodeproj/xcuserdata/vdharmawat.xcuserdatad/xcschemes/MyNewAppointmentProject.xcscheme

MyNewAppointmentProject.xcodeproj/xcuserdata/vdharmawat.xcuserdatad/xcschemes/xcschememanagement.plist
